
.container_star_1 {
 width: 100%;
  height: 60vh;
  background: url('/imegs/sunset.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

.over_1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 80px;
  padding-bottom: 90px;
  box-sizing: border-box;
}

.text_box_1 {
  max-width: 400px;
  color: white;
  text-align: left;

  h2 {
    font-size: 16px;
    letter-spacing: 2px;
    margin:  0;
    color: rgb(165, 169, 172);
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: rgb(165, 169, 172);
  }
}

.info_box_1 {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  color: rgb(164, 155, 155);
  font-size: 12px;

  .iso {
    font-weight: bold;
  }
}
